* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

#cursor {
    height: 20px;
    width: 20px;
    background-color: rgba(153, 205, 50, 0.859);
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur {
    height: 200px;
    width: 200px;
    background-color: rgba(153, 205, 50, 0.774);
    border-radius: 50%;
    position: fixed;
    filter: blur(65px);
    z-index: 9;
}

#nav {
    height: 145px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 45px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
}

#nav img {
    height: 75px;
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    z-index: 10;
}

#page1 h1 {
    font-size: 140px;
    font-weight: 900;
    position: relative;
    color: #ffffff;
    margin-bottom: 20px; 
    -webkit-text-stroke: 2px greenyellow;
    z-index: -1;
}

#page1 h2 {
    font-size: 24px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p {
    font-size: 18px;
    font-weight: 500;
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
    margin-bottom: 50px; /* Add space here */
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4 {
    display: inline-block;
    font-size: 110px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 10px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px greenyellow;
}

#scroller h4:hover {
    color: greenyellow;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#about-us {
    height: 40vh;
    width: 100%;
    display: flex;
    padding: 0 50px;
    align-items: center;
    position: relative;
    z-index: 10;
    justify-content: space-around;
    margin-top: 50px; /* Add space here */
}

#about-us img {
    height: 220px;
    width: 300px;
    border-radius: 20px;
}

#about-us-in {
    width: 50%;
    text-align: center;
}

#about-us-in h3 {
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 40px;
}

#about-us-in p {
    font-size: 20px;
    line-height: 26px;
}

#cards-container {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}

.card {
    height: 80%;
    width: 24%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    transition: all ease 0.6s;
    z-index: 1;
}

#card1 {
    background-image: url(https://image.api.playstation.com/cdn/EP0002/CUSA08630_00/v8NgJ1zB7820Ufth4qZLCTX5ulvzaZtE.png);
}

#card2 {
    background-image: url(https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/store/games/wz/overview/WZPLP_Hero.webp);
}

#card3 {
    background-image: url(https://imgs.callofduty.com/content/dam/atvi/callofduty/cod-touchui/mw3/meta/reveal/jpt-reveal-meta.jpg);
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: greenyellow;
    padding: 30px;
    opacity: 0;
    transition: all ease 0.6s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.overlay h4 {
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: 800;
}

.overlay p {
    color: black;
    font-size: 18px;
}

.card:hover .overlay {
    opacity: 1;
}

.card:hover {
    transform: rotate3d(1, 1, 0, 15deg); /* Adjusted for better tilting */
}

#green-div {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom, #119f3a, #ace022);
}

#green-div h4 {
    width: 45%;
    line-height: 50px;
    color: black;
    text-align: center;
    font-weight: 800;
    font-size: 27px;
    text-transform: uppercase;
}

#green-div img {
    height: 100%;
    object-fit: cover;
    width: 14%;
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

#page3 > p {
    font-size: 30px;
    font-weight: 700;
    width: 60%;
    line-height: 45px;
    text-align: center;
}

#page3 img {
    position: absolute;
    height: 60px;
}

#page3 #colon1 {
    left: 15%;
    top: 25%;
}

#page3 #colon2 {
    bottom: 30%;
    right: 15%;
}

#page4 {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}

.elem {
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.elem h2 {
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    display: flex;
    color: #000;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    font-size: 2vw;
    position: absolute;
    z-index: 10;
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.1;
}

.elem:hover h2 {
    color: #fff;
    background-color: transparent;
}

.elem:hover img {
    scale: 1;
}

#page4 h1 {
    font-size: 6.4vw;
    position: absolute;
    top: -15%;
    font-weight: 900;
    font-family: gilroy;
    color: #000;
    -webkit-text-stroke: 2px #fff;
}

#footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
}

#footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
}

#f1 img {
    height: 100px;
}

#f1, #f2, #f3, #f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
}

#f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
}

#f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
}

#f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
}
